@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.6rem;
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  background-image: linear-gradient(to bottom, #55a3fa, #a8cffa);

}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  // justify-content: space-evenly;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1200px) {
    padding-top: 2rem;      
  }

  .landing-button {
    width: 30%;
    min-height: 50px * 1.25;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #fa5a55, #fa55a3);
    display: flex;
    box-shadow: 0px 4px 6px -2px black;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem * 1.25;

    @media only screen and (max-width: 700px) {
      width: 50%;
    }
  }

  h1 {
    font-size: 2.4rem * 1.25;
    margin-bottom: 20%;
    letter-spacing: 0.1rem;
    line-height: normal;
    text-align: center;
    @media only screen and (max-width: 700px) {
      font-size: 2.4rem;
    }
  }

  h2 {
    margin-bottom: 20%;
    font-size: 2rem * 1.25;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    @media only screen and (max-width: 700px) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.8rem;
  }

  .top-link-buttons {
    border: 1px solid #55a3fa;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    // background-image: linear-gradient(to bottom, gray, darkslategray);
    background: rgba(255, 255, 255, 0.35);
    width: 100%;
    padding: 2.6% 0;
    position: absolute;
    top: 0;
    height: 10%;
    max-height: 35px * 1.25;
    // font-size: 2.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media only screen and (max-width: 700px) {
      font-size: 1rem;
      background: none;
    }

    .top-link-button {
      position: relative;
      display: inline-block;
      padding: 0.8% 1.5%;
      background-color: #55a3fa;
      // background-image: linear-gradient(#a8cffa, #55a3fa 65%);
      background-image: linear-gradient(to bottom right, #fa5a55, #fa55a3);
      border-radius: 3px;
      box-shadow: 0px 4px 6px -2px black;

      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      text-shadow: 1px 1px 2px darkslategray;
      @media only screen and (max-width: 700px) {
        box-shadow: none;
      }

      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(
          rgba(255, 255, 255, 0.45),
          rgba(255, 255, 255, 0.1)
        );
      }

      &:active {
        padding: 0.7% 1.4%;
        text-shadow: -1px -1px 2px darkslategray;
        box-shadow: 0px 2px 6px -2px black;
      }
    }
  }

  .project {
    display: flex;
    min-height: 60vh;
    height: 100%;
    max-height: 100vh;
    max-width: 95vw;
    padding: 0 2.5%;
    @media only screen and (max-width: 700px) {
      flex-direction: column;
      padding: 0;
    }
    .content-viewer {
      display: flex;
      align-items: center;

      justify-content: space-between;
      @media only screen and (max-width: 700px) {
        // border: 5px solid yellow;
        // height: 25vh;
      }
      button {
        height: 25%;
        outline: none;
        background: none;
        border: none;
        font-size: 35px;
        // background-image: linear-gradient(to bottom right, #fa5a55, #fa55a3);
        @media only screen and (max-width: 700px) {
          height: 100%;
        }
        &:hover {
          cursor: pointer;
        }
      }
      #right {
        border-top-right-radius: 25%;
        border-bottom-right-radius: 25%;
      }
      #left {
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%;
      }
      .img-container {
        // display: flex;
        // flex-direction: column;
        img {
          color: red;
          width: 50vw;
          max-width: 100%;
          @media only screen and (max-width: 700px) {
            height: 100%;
          }
        }
      }
    }
    .info-panel {
      margin-left: 2%;
      padding: 0 5%;
      max-width: 50%;
      flex-wrap: wrap;
      background: rgba(255, 255, 255, 0.35);
      border-radius: 5px;
      text-align: center;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      @media only screen and (max-width: 700px) {
        max-width: 100%;
      }
      h2 {
        text-shadow: 1.2px 1.2px 1px gray;
        letter-spacing: 0.15rem;
        margin: 5%;
        @media only screen and (max-width: 700px) {
          // margin: 10% 0;
          font-size: 2rem;
        }
      }
      p {
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.07rem;
        @media only screen and (max-width: 700px) {
          margin: 0;
          font-size: 1rem;
          word-wrap: break-word;
        }
      }

      ul {
        text-align: left;
        width: 100%;
        padding: 0;
      }

      .noUrl {
        text-decoration: none;
        display: none;
        color: white;
        opacity: 0;
        margin: 6% 0;
      }

      li {
        color: blue;
        text-decoration: underline;
        margin: 6% 0;
        word-wrap: break-word;
        letter-spacing: 0.00rem;
        list-style: none;
        text-align: center;
      }
    }
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10%;
  }

  .contact-links {
    display: flex;
    // flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    padding: 0;
    height: 80%;
    justify-content: space-evenly;
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;

      @media only screen and (max-width: 700px) {
        font-size: 0.7rem;
      }
    }
    li {
      display: flex;
      justify-content: space-between;
      margin-top: 4%;
      font-size: 3.6rem;
      background: rgba(255, 255, 255, 0.35);
      border-radius: 5px;
      text-align: center;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
      flex-wrap: wrap;
      text-align: center;
      width: 45%;
      border-radius: 5px;

      @media only screen and (max-width: 700px) {
        border-width: 2px;
      }
      a {
        color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }

  .main {
    margin: 2% 4%;

    .topic {
      h3 {
        font-size: 1.6rem;
        letter-spacing: 0.15rem;
        display: flex;
        justify-content: center;
      }
      h4 {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
        margin: 3%;
        line-height: 1.2rem;
        letter-spacing: 0.05rem;
      }
    }
  }
}
